body {
    font-family: Arial, sans-serif;
}

#post-form {
    margin-bottom: 20px;
}

#post-content {
    padding: 10px;
    width: 300px;
}

#post-btn {
    padding: 10px;
}

#posts {
    margin-top: 20px;
}

.post {
    background-color: #a74848;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
